:host{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    background: white;
}

.title-bar{
    min-height: 80px;
    display: flex;
}

.menu-area{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    right: 0px;
}